.card.text-center
  .card-header
    Tiny Towns Randomizer
  %ul.list-group
    = render partial: "building", locals: {color: :blue}
    = render partial: "building", locals: {color: :red, randomizable: true}
    = render partial: "building", locals: {color: :yellow, randomizable: true}
    = render partial: "building", locals: {color: :orange, randomizable: true}
    = render partial: "building", locals: {color: :green, randomizable: true}
    = render partial: "building", locals: {color: :gray, randomizable: true}
    = render partial: "building", locals: {color: :black, randomizable: true}

= render partial: "player", locals: {player: 1}
= render partial: "player", locals: {player: 2}
= render partial: "player", locals: {player: 3}
= render partial: "player", locals: {player: 4}
= render partial: "player", locals: {player: 5}
= render partial: "player", locals: {player: 6}
